body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    
    margin: 0;
    padding: 0;
}

h1 {
    font-family: sans-serif;
    font-style: bold;
    color: green;
    text-align: center;
    margin-top: 20px;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 400px;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: #dc3545;
    text-decoration: none;
    margin-left: 10px;
}


#footer {
    font-size: 12px; /* Adjust the font size as needed */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
}
